\documentclass[12pt]{article}

\usepackage{fullpage}
\usepackage{times}
\usepackage{amsmath,amssymb}
\usepackage{natbib}
\usepackage{url}
\usepackage{hyperref}

%-------------------------------------------------------------------------------

\hypersetup{
  pdftitle={{tex_title}},
  pdfcreator={{tex_author}},
  pdfauthor={{tex_author}},
  pdfsubject={{tex_subject}},
  pdfkeywords={{tex_keywords}},
  colorlinks=true,
  linkcolor=black,
  urlcolor=black
}

%-------------------------------------------------------------------------------

\begin{document}

\title{{tex_title}}
\author{{tex_author}}
\date{}
\maketitle

%-------------------------------------------------------------------------------

\begin{abstract}
Abstract here...
\end{abstract}

%-------------------------------------------------------------------------------
\section{A Section}

Stuff here...

A citation \citep{genericbook2000}.

%-------------------------------------------------------------------------------

\bibliographystyle{apalike}
\bibliography{{tex_name}}

%-------------------------------------------------------------------------------

\end{document}
